<app-carousel></app-carousel>
<section class="contenedor seccion">
  <h2 class="fw-300 centrar-texto">MAS SOBRE NOSOTROS</h2>

  <div class="iconos-nosotros">
    <div class="icono">
      <img src="../../../../assets/icono1.svg" alt="ICONO SEGURIDAD" />
      <h3>SEGURIDAD</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        fugiat ad, corrupti sunt numquam modi illum illo a perspiciatis libero
        pariatur dignissimos nulla neque nobis, architecto quaerat provident
        veniam accusamus.
      </p>
    </div>

    <div class="icono">
      <img src="../../../../assets/icono2.svg" alt="ICONO MEJOR PRECIO" />
      <h3>EL MEJOR PRECIO</h3>
      <P
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed numquam
        commodi eligendi sint dolorum at accusantium nulla sit eum similique
        natus temporibus illo soluta, neque quibusdam asperiores doloribus
        reprehenderit voluptate.</P
      >
    </div>

    <div class="icono">
      <img src="../../../../assets/icono3.svg" alt="ICONO A TIMEPO" />
      <H3>A TIEMPO</H3>
      <P
        >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ullam
        eaque enim aperiam, eligendi, voluptas omnis explicabo numquam totam
        fugiat, nobis dolorem suscipit dignissimos nam veritatis sapiente
        asperiores adipisci amet?</P
      >
    </div>
  </div>
</section>
<section class="imagen-contacto">
  <div class="contenedor contenido-contacto">
    <h2>ECUENTRA LA CASA DE TUS SUEÑOS</h2>
    <p>
      llena el formulario de contacto y un asesor se pondra en contacto contigo
      a la brebedad
    </p>

    <a href="" routerLink="/contacto" class="boton boton-amarillo"
      >CONTACTANOS</a
    >
  </div>
</section>
<!-- <div>
  <h3 class="text-center">Contactanos</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magni
    cupiditate repellat, ea velit cum deserunt error veniam quaerat doloribus a,
    quae numquam animi facere minima odit optio asperiores voluptatibus!
  </p>
  <button type="button" class="btn btn-warning btn-lg">Nosotros</button>
</div> -->
