.eslogan {
  font-size: 2.5em;
  color: #f2f2f2;
}
h1 {
  font-size: 8.2em;
  color: #f2f2f2;
  font-weight: 600;
}
.jumbotron {
  background-color: #024059;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
.elemento {
}
label {
  font-weight: 500;
}
.inf {
  margin-left: 10px;
  font-size: 0.9rem;
  font-weight: 550;
}
.titulo {
  font-size: 1.2rem;
}
.detalles {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.formulario {
  width: 49%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
