<div
  class="modal fade"
  id="modalEdificio"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{
            !this.dataApi.selectedEdificio.Id
              ? "Nuevo Edificio"
              : "Modificar Edificio"
          }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          name="formEdificio"
          #formEdificio="ngForm"
          (ngSubmit)="onSaveEdificio(formEdificio)"
        >
          <input
            type="hidden"
            name="Id"
            [(ngModel)]="this.dataApi.selectedEdificio.Id"
          />
          <!-- <input type="hidden" name="userUid" [value]="userUid" /> -->
          <input
            type="hidden"
            name="correo_registro"
            [value]="correo_registro"
          />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="codigo" class="col-form-label"
                >Codigo del producto:</label
              >
              <input
                type="text"
                class="form-control"
                name="codigo"
                [(ngModel)]="this.dataApi.selectedEdificio.codigo"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="metodo" class="col-form-label">Edificio en:</label>
              <div>
                <select
                  class="custom-select form-control"
                  name="metodo"
                  [(ngModel)]="this.dataApi.selectedEdificio.metodo"
                >
                  <option selected value="Venta">Venta</option>
                  <option value="Renta">Renta</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre" class="col-form-label">Nombre:</label>
              <input
                type="text"
                class="form-control"
                name="nombre"
                [(ngModel)]="this.dataApi.selectedEdificio.nombre"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="lugar" class="col-form-label"
                >Municipio y estado:</label
              >
              <input
                type="text"
                class="form-control"
                name="lugar"
                [(ngModel)]="this.dataApi.selectedEdificio.lugar"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="area" class="col-form-label"
                >Área (mts<sup>2</sup>):</label
              >
              <input
                type="text"
                class="form-control"
                name="area"
                [(ngModel)]="this.dataApi.selectedEdificio.area"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="metros" class="col-form-label"
                >Metros construidos (mts<sup>2</sup>):</label
              >
              <input
                type="text"
                name="metros"
                class="form-control"
                [(ngModel)]="this.dataApi.selectedEdificio.metros"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="domicilio" class="col-form-label">Domicilio:</label>
            <input
              type="text"
              name="domicilio"
              class="form-control"
              [(ngModel)]="this.dataApi.selectedEdificio.domicilio"
            />
          </div>
          <!--]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]-->

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="cuartos">No. de cuartos:</label>
              <input
                type="number"
                class="form-control"
                min="0"
                max="100"
                name="cuartos"
                [(ngModel)]="this.dataApi.selectedEdificio.cuartos"
              />
            </div>
            <div class="form-group col-md-8">
              <label for="cuartos_detalles">Información de los cuartos:</label>
              <textarea
                class="form-control"
                name="cuartos_detalles"
                [(ngModel)]="this.dataApi.selectedEdificio.cuartos_detalles"
              ></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="banos">No. de baños:</label>
              <input
                type="number"
                class="form-control"
                min="0"
                max="100"
                name="banos"
                [(ngModel)]="this.dataApi.selectedEdificio.banos"
              />
            </div>
            <div class="form-group col-md-8">
              <label for="banos_detalles">Información de los baños:</label>
              <textarea
                class="form-control"
                name="banos_detalles"
                [(ngModel)]="this.dataApi.selectedEdificio.banos_detalles"
              ></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="vehiculos">No. espacios de vehiculos:</label>
              <input
                type="number"
                class="form-control"
                min="0"
                max="100"
                name="vehiculos"
                [(ngModel)]="this.dataApi.selectedEdificio.vehiculos"
              />
            </div>
            <div class="form-group col-md-8">
              <label for="vehiculos_detalles"
                >Información de los espacios para vehiculos:</label
              >
              <textarea
                class="form-control"
                name="vehiculos_detalles"
                [(ngModel)]="this.dataApi.selectedEdificio.vehiculos_detalles"
              ></textarea>
            </div>
          </div>
          <!--]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]-->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="precio">Precio</label>
              <input
                type="number"
                name="precio"
                class="form-control"
                min="0"
                max="999999999"
                placeholder="Precio"
                [(ngModel)]="this.dataApi.selectedEdificio.precio"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="plusvalia">Plusvalía</label>
              <input
                type="number"
                name="plusvalia"
                class="form-control"
                min="1"
                max="10"
                placeholder="Plusvalía"
                [(ngModel)]="this.dataApi.selectedEdificio.plusvalia"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="imagen_presentacion">Enlace de imagen:</label>
              <input
                type="text"
                name="imagen_presentacion"
                class="form-control"
                placeholder="(https://www.dominio.imagen.jpg)"
                [(ngModel)]="this.dataApi.selectedEdificio.imagen_presentacion"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="descripcion" class="col-form-label">Descripción:</label>
            <textarea
              class="form-control"
              name="descripcion"
              [(ngModel)]="this.dataApi.selectedEdificio.descripcion"
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              #btnClose
              data-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">
              Guardar Edificio
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
