<div class="jumbotron text-center">
  <h1>Departamentos</h1>
  <p class="eslogan">
    Lugar donde encontrarás opciones que se convertiran en tu proximo hogar.
  </p>
</div>
<h4 class="text-center">Filtrar Departamentos</h4>
<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState" class="col-form-label">Venta o renta</label>
      <select
        id="inputState"
        class="form-control"
        name="metodo"
        [(ngModel)]="metodo"
      >
        <option value="venta">Venta</option>
        <option value="renta">Renta</option>
        <option value="">Todas</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="lugar" class="col-form-label">Municipio y estado:</label>
      <input
        type="text"
        class="form-control"
        name="lugar"
        [(ngModel)]="lugar"
      />
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-3 pt-0">Precios:</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="precio"
              [(ngModel)]="precio"
              id="gridRadios1"
              value="100000"
              checked
            />
            <label class="form-check-label" for="gridRadios1">
              Hasta $100,000
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="precio"
              [(ngModel)]="precio"
              id="gridRadios2"
              value="500000"
            />
            <label class="form-check-label" for="gridRadios2">
              Hasta $500,000
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="precio"
              [(ngModel)]="precio"
              id="gridRadios3"
              value="1000000"
            />
            <label class="form-check-label" for="gridRadios3">
              Hasta $1,000,000
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="precio"
              [(ngModel)]="precio"
              id="gridRadios2"
              value="100000000"
            />
            <label class="form-check-label" for="gridRadios2">
              Hasta $100,000,000
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="cuartos" class="col-form-label">Habitaciones minimos:</label>
      <input
        type="number"
        class="form-control"
        min="0"
        max="100"
        name="cuartos"
        [(ngModel)]="cuartos"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="banos" class="col-form-label">Baños mínimos:</label>
      <input
        type="number"
        class="form-control"
        name="banos"
        min="0"
        max="100"
        [(ngModel)]="banos"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="autos" class="col-form-label"
        >Espacio para vehículos mínimos:</label
      >
      <input
        type="number"
        class="form-control"
        name="autos"
        min="0"
        max="100"
        [(ngModel)]="autos"
      />
    </div>
  </div>
</form>

<section id="departamentos" class="mt-4">
  <div class="container">
    <div class="row">
      <div
        class="col-xs-12 col-sm-6 col-md-4"
        *ngFor="let departamento of departamentos | filterList: metodo:lugar:cuartos:banos:autos:precio"
      >
        <div class="card_book">
          <div class="card">
            <img
              class="card-img-top"
              src="{{ departamento.imagen_presentacion }}"
              alt="{{ departamento.nombre }}"
            />
            <div class="card-img-overlay">
              <p class="badge badge-light">
                {{ departamento.codigo }}
              </p>
              <p class="badge badge-info">
                {{ departamento.lugar }}
              </p>
              <p class="badge badge-danger">
                {{ departamento.metodo }}
              </p>
            </div>
            <p class="badge badge-warning">
              Plusvalia: <strong>{{ departamento.plusvalia }}</strong>
            </p>
            <div class="card-body text-center">
              <h4 class="card-header">
                {{ departamento.nombre }}
              </h4>
              <h6>Terreno de {{ departamento.area }} m<sup>2</sup></h6>
              <h6>{{ departamento.metros }} m<sup>2</sup> construidos</h6>
              <p class="card-text">
                {{ departamento.descripcion.substring(0, 60) }}...
              </p>
              <!-- <div class="container-precio-idioma">
                  <p class="badge badge-info">
                    {{ casa.lugar }}
                  </p>
                </div> -->
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h5 class="bandas">
                    <span class="badge badge-success">
                      {{ departamento.cuartos }} Cuartos</span
                    >
                  </h5>
                  <h5 class="bandas">
                    <span class="inf badge badge-success"
                      >{{ departamento.banos }} Baños</span
                    >
                  </h5>
                  <h5 class="bandas">
                    <span class="inf badge badge-success">
                      {{ departamento.autos }} Espacios
                    </span>
                  </h5>
                </li>
              </ul>
              <h4 class="card-text">{{ departamento.precio | currency }}</h4>
              <a
                href=""
                class="btn btn-block btn-warning"
                target="_self"
                routerLink="/departamento/{{ departamento.Id }}"
                ><strong>Detalles</strong></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="card text-center">
  <div class="card-header">
    Hertek Inmobiliaria
  </div>
  <div class="card-body">
    <h5 class="card-title">¿No encontraste lo que buscabas?</h5>
    <p class="card-text">
      Tenemos mas opciones para ti, solo tienes que agendar una cita y nosotros
      hacemos el resto.
    </p>
    <a href="#" class="btn btn-dark" routerLink="/contacto">Agendar cita</a>
  </div>
</div>
